/* .grid-container  */
#root {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    grid-template-rows: 0.2fr 2.4fr 0.4fr;
    grid-template-areas: 'l1 header r1' 'l2 main r2' 'l3 footer r3';
    /* gap: 10px 10px; */
    min-height: 100vh;
    min-width: 100vw;
}

main {
    grid-area: main;
}
.header {
    grid-area: header;
}
header {
    grid-area: header;
}
.l1 {
    grid-area: l1;
}
.r1 {
    grid-area: r1;
}
.footer {
    grid-area: footer;
}
.container {
    margin-top: 3rem;
}
/* .container {
    padding-right: 15%;
    padding-left: 15%;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
} */
.classroom-card {
    /* border: 1px; */
}
.classroom-card:hover {
    box-shadow: -1px 1px 30px 10px #00000026;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-right: 8%;
        padding-left: 8%;
    }
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
