:root {
    --color-dark-brown: #1d1d1b;
    --color-light-yellow: #ffd645;
    --color-white: #fff;
    --color-light-gray: #f7f7f996;
}
.bg-dark-brown {
    background-color: var(--color-dark-brown);
}
.bg-light-yellow {
    background-color: var(--color-light-yellow);
}
.bg-light-gray {
    background-color: var(--color-light-gray);
}
.color-dark-brown {
    color: var(--color-dark-brown);
}
.color-light-yellow {
    color: var(--color-light-yellow);
}

.display-text {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
}
body {
    margin: 0;
    font-family: 'Raleway', 'Josefin Slab', 'Open Sans', -apple-system,
        BlinkMacSystemFont, 'Nanum Gothic', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-dark-brown);
    background-color: var(--color-light-gray);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
button {
    background: var(--color-light-yellow);
    border: 0px;
    padding: 10px;
    color: #4e342e;
    border-radius: 8%;
}
.card {
    background-color: white;
    margin: 20px;
    border-radius: 5%;
    box-shadow: -1px 1px 20px -1px #00000012;
    border: 1px solid #0000000f;
}
.card-body {
    padding: 20px;
}
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.cover {
    width: 100%;
    padding: 0px;
}
.full {
    width: 100%;
}

.tail {
    box-shadow: 0px 1px 70px 1px #0000003d;
}
